<%- include('includes/header') %>
    <%- include('includes/sidebar') %>
        <div class="app-wrapper">
            <div class="app-content pt-3 p-md-3 p-lg-4">
                <div class="container-xl">
                    <div class="row g-3 mb-4 align-items-center justify-content-between">
                        <div class="col">
                            <h1 class="app-page-title mb-0">Categories</h1>
                        </div>
                        <div class="col-auto">
                            <div class="page-utilities">
                                <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
                                    <div class="col-auto">
                                        <form class="table-search-form row gx-1 align-items-center">
                                            <div class="col-auto">
                                                <input type="text" id="search-orders" name="searchorders"
                                                    class="form-control search-orders" placeholder="Search">
                                            </div>
                                            <div class="col-auto">
                                                <button type="submit" class="btn app-btn-secondary">Search</button>
                                            </div>
                                        </form>
                                    </div><!--//col-auto-->
                                    <div class="col-auto">
                                        <span class="btn app-btn-primary" data-bs-toggle="modal"
                                            data-bs-target="#addCategoryModal" style="cursor:pointer">Add Category</span>
                                    </div>
                                </div><!--//row-->
                            </div><!--//table-utilities-->
                        </div><!--//col-auto-->
                    </div><!--//row-->

                    <nav id="category-table-tab"
                        class="orders-table-tab app-nav-tabs nav shadow-sm flex-column flex-sm-row mb-4">
                        <span class="flex-sm-fill text-sm-center nav-link active" id="categor-all-tab" >All
                            Categories</span>
                    </nav>
                        <div class="tab-content" id="category-table-tab-content">
                            <div class="tab-pane fade show active" id="orders-all" role="tabpanel"
                                aria-labelledby="orders-all-tab">
                                <div class="app-card app-card-orders-table shadow-sm mb-5">
                                    <div class="app-card-body">
                                        <div class="table-responsive">
                                            <table class="table app-table-hover mb-0 text-left right-aligned-column">
                                                <thead>
                                                    <tr>
                                                        <th class="cell">Category</th>
                                                        <th></th>
                                                        <th class="cell">Edit Category</th>
                                                    </tr>
                                                </thead>
                                            <tbody>
                                                <% categories.forEach((category)=> { %>
                                                    <tr>
                                                        <td class="cell">
                                                            <%= category.category %>
                                                        </td>
                                                        <td></td>
                                                        <td class="cell">
                                                            <span style="cursor: pointer" data-bs-toggle="modal" data-bs-target="#editCategoryModal-<%= category.id %>">
                                                                <i class="fa fa-edit"></i> Edit
                                                            </span>
                                                        </td>
                                                    </tr>
                                                    <% }) %>
                                            </tbody>
                                            </table>
                                        </div><!--//table-responsive-->
                                    </div><!--//app-card-body-->
                                </div><!--//app-card-->
                            </div><!--//tab-pane-->
                        </div><!--//category-table-tab-content-->
                </div><!--//container-xl-->
            </div><!--//app-content-->
            </div>
            

            <!-- ADD Category Modal -->
            <div class="modal fade" id="addCategoryModal" tabindex="-1" role="dialog" aria-labelledby="addCategoryModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addCategoryModalLabel">New Category</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id ="addCategoryForm">
                                <div class="mb-3">
                                    <label for="categoryInput" class="form-label">Category:</label>
                                    <input type="text" class="form-control" id="categoryInput" name="category"
                                        placeholder="Enter category">
                                </div>
                                <div class="mb-3">
                                    <button type="submit" class="btn btn-primary" id="addCategoryBtn">Add Category</button>
                                </div>
                            </form>
                            <div id="loadingSpinnerCategory" class="spinner-border text-primary" role="status" style="display: none;">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                            <div id="statusMessageCategory" class="alert" style="display: none;"></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>

        <% categories.forEach((category)=> { %>
            <div class="modal fade" id="editCategoryModal-<%= category.id %>" tabindex="-1" aria-labelledby="editModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editModalLabel">Edit Category</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="updateCategoryForm-<%= category._id %>" data-category-id="<%= category._id %>">
                                <div class="mb-3">
                                    <label for="categoryNameUpdate-<%= category._id %>" class="form-label">Category Name</label>
                                    <input type="text" class="form-control" id="categoryNameUpdate-<%= category._id %>"
                                        value="<%= category.category %>" name="category">
                                </div>
                                <div class="mb-3">
                                    <button type="submit" class="btn btn-primary"
                                        id="updateCategoryBtn-<%= category._id %>">Update</button>
                                </div>
                            </form>
                            <div id="loadingSpinnerUpdate-<%= category._id %>" class="spinner-border text-primary" role="status"
                                style="display: none;">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                            <div id="messageStatusUpdate-<%= category._id %>" class="alert" style="display: none;"></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
            <% }) %>

        <%- include('includes/footer') %>