<%-include('includes/header')%>
<%-include('includes/sidebar')%>
    <div class="app-wrapper">
	    <div class="app-content pt-3 p-md-3 p-lg-4">
		    <div class="container-xl">		    
			    <div class="row g-3 mb-4 align-items-center justify-content-between">
				    <div class="col-auto">
			            <h1 class="app-page-title mb-0">Orders</h1>
				    </div>
				    <div class="col-auto">
					     <div class="page-utilities">
						    <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
							    <div class="col-auto">
								    <form class="table-search-form row gx-1 align-items-center">
					                    <div class="col-auto">
					                        <input type="text" id="search-orders" name="searchorders" class="form-control search-orders" placeholder="Search">
					                    </div>
					                    <div class="col-auto">
					                        <button type="submit" class="btn app-btn-secondary">Search</button>
					                    </div>
					                </form>
					                
							    </div><!--//col-->
							    <div class="col-auto">
								    
								    <select class="form-select w-auto" >
										  <option selected value="option-1">All</option>
										  <option value="option-2">This week</option>
										  <option value="option-3">This month</option>
										  <option value="option-4">Last 3 months</option>							  
									</select>
							    </div>
						    </div><!--//row-->
					    </div><!--//table-utilities-->
				    </div><!--//col-auto-->
			    </div><!--//row-->
			   
			    
			    <nav id="orders-table-tab" class="orders-table-tab app-nav-tabs nav shadow-sm flex-column flex-sm-row mb-4">
				    <a class="flex-sm-fill text-sm-center nav-link active" id="orders-all-tab" data-bs-toggle="tab" href="#orders-all" role="tab" aria-controls="orders-all" aria-selected="true">All</a>
				    <a class="flex-sm-fill text-sm-center nav-link" id="orders-placed-tab" data-bs-toggle="tab" href="#orders-placed" role="tab" aria-controls="orders-placed" aria-selected="false">Placed</a>
				    <a class="flex-sm-fill text-sm-center nav-link" id="orders-processing-tab" data-bs-toggle="tab" href="#orders-processing" role="tab" aria-controls="orders-processing" aria-selected="false">Processing</a>
				    <a class="flex-sm-fill text-sm-center nav-link" id="orders-shipped-tab" data-bs-toggle="tab" href="#orders-shipped" role="tab" aria-controls="orders-shipped" aria-selected="false">Shipped</a>
				    <a class="flex-sm-fill text-sm-center nav-link" id="orders-delivered-tab" data-bs-toggle="tab" href="#orders-delivered" role="tab" aria-controls="orders-delivered" aria-selected="false">Delivered</a>
				    <a class="flex-sm-fill text-sm-center nav-link" id="orders-cancelled-tab" data-bs-toggle="tab" href="#orders-cancelled" role="tab" aria-controls="orders-cancelled" aria-selected="false">Cancelled</a>
				    <a class="flex-sm-fill text-sm-center nav-link" id="orders-returned-tab" data-bs-toggle="tab" href="#orders-returned" role="tab" aria-controls="orders-returned" aria-selected="false">Returned</a>
				    <a class="flex-sm-fill text-sm-center nav-link" id="orders-refunded-tab" data-bs-toggle="tab" href="#orders-refunded" role="tab" aria-controls="orders-refunded" aria-selected="false">Refunded</a>
				</nav>
				
				
				<div class="tab-content" id="orders-table-tab-content">
			        <div class="tab-pane fade show active" id="orders-all" role="tabpanel" aria-labelledby="orders-all-tab">
					    <div class="app-card app-card-orders-table shadow-sm mb-5">
						    <div class="app-card-body">
							    <div class="table-responsive">
								<table class="table app-table-hover mb-0 text-left">
									<thead>
										<tr>
											<th class="cell">Order ID</th>
											<th class="cell">Customer</th>
											<th class="cell">Date</th>
											<th class="cell">Payment</th>
											<th class="cell">Status</th>	
											<th class="cell">Details</th>
										</tr>
									</thead>
									<tbody>
										<% orders.forEach(order=> { %>
											<tr>
												<td class="cell">
													<%= order._id.toString().slice(-5) %>
												</td>
												<td class="cell"><span class="truncate">
														<%= order.user.name %>
													</span></td>
												<td class="cell">
													<span>
														<%= order.createdAt.toLocaleDateString() %>
													</span>
													<span class="note">
														<%= order.createdAt.toLocaleTimeString() %>
													</span>
												</td>
												<td class="cell">
													<%= order.payment_method %>
												</td>
									<td class="cell">
										<% if (order.status==='Placed') { %>
											<span class="badge bg-blue">
												<%= order.status %>
											</span>
											<% } else if (order.status==='Processing') { %>
												<span class="badge bg-warning">
													<%= order.status %>
												</span>
												<% } else if (order.status==='Shipped') { %>
													<span class="badge bg-secondary">
														<%= order.status %>
													</span>
													<% } else if (order.status==='Delivered') { %>
														<span class="badge bg-success">
															<%= order.status %>
														</span>
														<% } else if (order.status==='Cancelled') { %>
															<span class="badge bg-danger">
																<%= order.status %>
															</span>
														<% } else if (order.status==='Returned') { %>
															<span class="badge bg-danger">
																<%= order.status %>
															</span>
														<% } else if (order.status==='Refunded') { %>
															<span class="badge bg-success">
																<%= order.status %>
															</span>
															<% } else { %>
																<%= order.status %>
																	<% } %>
									</td>									
									<td class="cell">
											<span style="cursor: pointer" onclick="viewOrder('<%= order._id %>')"><i class="fa fa-eye"></i>
																View</span>
												</td>
											</tr>
											<% }) %>
									</tbody>

								</table>

						        </div><!--//table-responsive-->
						       
						    </div><!--//app-card-body-->		
						</div><!--//app-card-->
								<nav class="app-pagination">
									<ul class="pagination justify-content-center">
										<% if (currentPage> 1) { %>
											<li class="page-item">
												<a class="page-link" href="?page=<%= currentPage - 1 %>" tabindex="-1" aria-disabled="true">Previous</a>
											</li>
											<% } else { %>
												<li class="page-item disabled">
													<a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
												</li>
												<% } %>
								
													<% for (let i=1; i <=totalPages; i++) { %>
														<% if (i===currentPage) { %>
															<li class="page-item active"><a class="page-link">
																	<%= i %>
																</a></li>
															<% } else { %>
																<li class="page-item"><a class="page-link" href="?page=<%= i %>">
																		<%= i %>
																	</a></li>
																<% } %>
																	<% } %>
								
																		<% if (currentPage < totalPages) { %>
																			<li class="page-item">
																				<a class="page-link" href="?page=<%= currentPage + 1 %>">Next</a>
																			</li>
																			<% } else { %>
																				<li class="page-item disabled">
																					<a class="page-link" href="#">Next</a>
																				</li>
																				<% } %>
									</ul>
								</nav><!--//app-pagination-->
			        </div><!--//tab-pane-->
			    
					<div class="tab-pane fade" id="orders-placed" role="tabpanel" aria-labelledby="orders-placed-tab">
						<div class="app-card app-card-orders-table mb-5">
							<div class="app-card-body">
								<div class="table-responsive">
									<table class="table mb-0 text-left">
										<thead>
											<tr>
												<th class="cell">Order ID</th>
												<th class="cell">Customer</th>
												<th class="cell">Date</th>
												<th class="cell">Payment</th>
												<th class="cell">Status</th>
												<th class="cell">Process</th>
												<th class="cell">Details</th>
											</tr>
										</thead>
										<tbody>
											<% placedOrder.forEach(order=> { %>
												<tr>
													<td class="cell">
														<%= order._id.toString().slice(-5) %>
													</td>
													<td class="cell"><span class="truncate">
															<%= order.user.name %>
														</span></td>
													<td class="cell"><span>
															<%= order.createdAt.toLocaleDateString() %>
														</span><span class="note">
															<%= order.createdAt.toLocaleTimeString() %>
														</span></td>
													<td class="cell">
														<%= order.payment_method %>
													</td>
													<td class="cell">
														<span class="badge bg-blue">
															<%= order.status %>
														</span>
													</td>
													<td class="cell">
														<button type="button" class="btn btn-warning"
															onclick="processOrder('<%= order._id %>')">Process</button>
													</td>
													<td class="cell">
														<span style="cursor: pointer" onclick="viewOrder('<%= order._id %>')"><i
																class="fa fa-eye"></i>
															View</span>
													</td>
												</tr>
										</tbody>
										<% }) %>
									</table>
								</div><!--//table-responsive-->
							</div><!--//app-card-body-->
						</div><!--//app-card-->
					</div><!--//tab-pane-->

			        <div class="tab-pane fade" id="orders-processing" role="tabpanel" aria-labelledby="orders-processing-tab">
					    <div class="app-card app-card-orders-table mb-5">
						    <div class="app-card-body">
							    <div class="table-responsive">
									<table class="table mb-0 text-left">
										<thead>
											<tr>
												<th class="cell">Order ID</th>
												<th class="cell">Customer</th>
												<th class="cell">Date</th>
												<th class="cell">Payment</th>
												<th class="cell">Status</th>
												<th class="cell">Ship</th>
												<th class="cell">Details</th>
											</tr>
										</thead>
										<tbody>
											<% processingOrder.forEach(order=> { %>
												<tr>
													<td class="cell">
														<%= order._id.toString().slice(-5) %>
													</td>
													<td class="cell"><span class="truncate">
															<%= order.user.name %>
														</span></td>
													<td class="cell"><span>
															<%= order.processedAt.toLocaleDateString() %>
														</span><span class="note">
															<%= order.processedAt.toLocaleTimeString() %>
														</span></td>
													<td class="cell">
														<%= order.payment_method %>
													</td>
													<td class="cell">
														<span class="badge bg-warning">
															<%= order.status %>
														</span>
													</td>
													<td class="cell">
														<button type="button" class="btn btn-secondary" onclick="shipOrder('<%= order._id %>')">Ship</button>
													</td>
													<td class="cell">
														<span style="cursor: pointer" onclick="viewOrder('<%= order._id %>')"><i class="fa fa-eye"></i>
															View</span>
													</td>
												</tr>
										</tbody>
										<% }) %>
									</table>
						        </div><!--//table-responsive-->
						    </div><!--//app-card-body-->		
						</div><!--//app-card-->
			        </div><!--//tab-pane-->


			        <div class="tab-pane fade" id="orders-shipped" role="tabpanel" aria-labelledby="orders-shipped-tab">
					    <div class="app-card app-card-orders-table mb-5">
						    <div class="app-card-body">
							    <div class="table-responsive">
									<table class="table mb-0 text-left">
										<thead>
											<tr>
												<th class="cell">Order ID</th>
												<th class="cell">Customer</th>
												<th class="cell">Date</th>
												<th class="cell">Payment</th>
												<th class="cell">Status</th>
												<th class="cell">Deliver</th>
												<th class="cell">Details</th>
											</tr>
										</thead>
										<tbody>
											<% shippedOrder.forEach(order=> { %>
												<tr>
													<td class="cell">
														<%= order._id.toString().slice(-5) %>
													</td>
													<td class="cell"><span class="truncate">
															<%= order.user.name %>
														</span></td>
													<td class="cell"><span>
															<%= order.shippedAt.toLocaleDateString() %>
														</span><span class="note">
															<%= order.shippedAt.toLocaleTimeString() %>
														</span></td>
													<td class="cell">
														<%= order.payment_method %>
													</td>
													<td class="cell">
														<span class="badge bg-secondary">
															<%= order.status %>
														</span>
													</td>
													<td class="cell">
														<button type="button" class="btn btn-primary"
															onclick="deliverOrder('<%= order._id %>')">Deliver </button>
													</td>
													<td class="cell">
														<span style="cursor: pointer" onclick="viewOrder('<%= order._id %>')"><i class="fa fa-eye"></i>
															View</span>
													</td>
												</tr>
										</tbody>
										<% }) %>
									</table>
						        </div><!--//table-responsive-->
						    </div><!--//app-card-body-->		
						</div><!--//app-card-->
			        </div><!--//tab-pane-->

					<div class="tab-pane fade" id="orders-delivered" role="tabpanel" aria-labelledby="orders-delivered-tab">
						<div class="app-card app-card-orders-table mb-5">
							<div class="app-card-body">
								<div class="table-responsive">
									<table class="table mb-0 text-left">
										<thead>
											<tr>
												<th class="cell">Order ID</th>
												<th class="cell">Customer</th>
												<th class="cell">Date</th>
												<th class="cell">Payment</th>
												<th class="cell">Status</th>
												<th class="cell">Details</th>
											</tr>
										</thead>
										<tbody>
											<% deliveredOrder.forEach(order=> { %>
												<tr>
													<td class="cell">
														<%= order._id.toString().slice(-5) %>
													</td>
													<td class="cell"><span class="truncate">
															<%= order.user.name %>
														</span></td>
													<td class="cell"><span>
															<%= order.deliveredAt.toLocaleDateString() %>
														</span><span class="note">
															<%= order.deliveredAt.toLocaleTimeString() %>
														</span></td>
													<td class="cell">
														<%= order.payment_method %>
													</td>
													<td class="cell">
														<span class="badge bg-primary">
															<%= order.status %>
														</span>
													</td>
													<td class="cell">
														<span style="cursor: pointer" onclick="viewOrder('<%= order._id %>')"><i class="fa fa-eye"></i>
															View</span>
													</td>
												</tr>
										</tbody>
										<% }) %>
									</table>
								</div><!--//table-responsive-->
							</div><!--//app-card-body-->
						</div><!--//app-card-->
					</div><!--//tab-pane-->

					<div class="tab-pane fade" id="orders-cancelled" role="tabpanel" aria-labelledby="orders-cancelled-tab">
						<div class="app-card app-card-orders-table mb-5">
							<div class="app-card-body">
								<div class="table-responsive">
									<table class="table mb-0 text-left">
										<thead>
											<tr>
												<th class="cell">Order ID</th>
												<th class="cell">Customer</th>
												<th class="cell">Date</th>
												<th class="cell">Payment</th>
												<th class="cell">Status</th>
												<th class="cell">Refund</th>
												<th class="cell">Details</th>
											</tr>
										</thead>
										<tbody>
											<% cancelledOrder.forEach(order=> { %>
												<tr>
													<td class="cell">
														<%= order._id.toString().slice(-5) %>
													</td>
													<td class="cell"><span class="truncate">
															<%= order.user.name %>
														</span></td>
													<td class="cell"><span>
															<%= order.createdAt.toLocaleDateString() %>
														</span><span class="note">
															<%= order.createdAt.toLocaleTimeString() %>
														</span></td>
													<td class="cell">
														<%= order.payment_method %>
													</td>
													<td class="cell">
														<span class="badge bg-danger">
															<%= order.status %>
														</span>
													</td>
													<td class="cell">
														<% if (order.payment_method==='paypal' || order.payment_method==='wallet' || order.payment_method==='razorpay') { %>
															<button type="button" class="btn btn-primary" onclick="refundOrder('<%= order._id %>')">Refund</button>
															<% } else {%>
																<span>____</span>
																<% } %>
															</td>
									
													<td class="cell">
														<span style="cursor: pointer" onclick="viewOrder('<%= order._id %>')"><i class="fa fa-eye"></i>
															View</span>
													</td>
												</tr>
										</tbody>
										<% }) %>
									</table>
								</div><!--//table-responsive-->
							</div><!--//app-card-body-->
						</div><!--//app-card-->
					</div><!--//tab-pane-->

					<div class="tab-pane fade" id="orders-returned" role="tabpanel" aria-labelledby="orders-returned-tab">
						<div class="app-card app-card-orders-table mb-5">
							<div class="app-card-body">
								<div class="table-responsive">
									<table class="table mb-0 text-left">
										<thead>
											<tr>
												<th class="cell">Order ID</th>
												<th class="cell">Customer</th>
												<th class="cell">Date</th>
												<th class="cell">Payment</th>
												<th class="cell">Status</th>
												<th class="cell">Refund</th>
												<th class="cell">Details</th>
											</tr>
										</thead>
										<tbody>
											<% returnedOrder.forEach(order=> { %>
												<tr>
													<td class="cell">
														<%= order._id.toString().slice(-5) %>
													</td>
													<td class="cell"><span class="truncate">
															<%= order.user.name %>
														</span></td>
													<td class="cell"><span>
															<%= order.returnedAt.toLocaleDateString() %>
														</span><span class="note">
															<%= order.returnedAt.toLocaleTimeString() %>
														</span></td>
													<td class="cell">
														<%= order.payment_method %>
													</td>
													<td class="cell">
														<span class="badge bg-danger">
															<%= order.status %>
														</span>
													</td>
													<td class="cell">
														<% if (order.payment_method==='paypal' || order.payment_method==='wallet'|| order.payment_method==='razorpay' ) { %>
															<button type="button" class="btn btn-primary" onclick="refundOrder('<%= order._id %>')">Refund</button>
															<% } else {%>
																<span>____</span>
																<% } %>
													</td>
													<td class="cell">
														<span style="cursor: pointer" onclick="viewOrder('<%= order._id %>')"><i class="fa fa-eye"></i>
															View</span>
													</td>
												</tr>
										</tbody>
										<% }) %>
									</table>
								</div><!--//table-responsive-->
							</div><!--//app-card-body-->
						</div><!--//app-card-->
					</div><!--//tab-pane-->

					<div class="tab-pane fade" id="orders-refunded" role="tabpanel" aria-labelledby="orders-refunded-tab">
						<div class="app-card app-card-orders-table mb-5">
							<div class="app-card-body">
								<div class="table-responsive">
									<table class="table mb-0 text-left">
										<thead>
											<tr>
												<th class="cell">Order ID</th>
												<th class="cell">Customer</th>
												<th class="cell">Date</th>
												<th class="cell">Payment</th>
												<th class="cell">Status</th>
												<th class="cell">Details</th>
											</tr>
										</thead>
										<tbody>
											<% refundedOrder.forEach(order=> { %>
												<tr>
													<td class="cell">
														<%= order._id.toString().slice(-5) %>
													</td>
													<td class="cell"><span class="truncate">
															<%= order.user.name %>
														</span></td>
													<td class="cell"><span>
															<%= order.refundedAt.toLocaleDateString() %>
														</span><span class="note">
															<%= order.refundedAt.toLocaleTimeString() %>
														</span></td>
													<td class="cell">
														<%= order.payment_method %>
													</td>
													<td class="cell">
														<span class="badge bg-success">
															<%= order.status %>
														</span>
													</td>
													<td class="cell">
														<span style="cursor: pointer" onclick="viewOrder('<%= order._id %>')"><i class="fa fa-eye"></i>
															View</span>
													</td>
												</tr>
										</tbody>
										<% }) %>
									</table>
								</div><!--//table-responsive-->
							</div><!--//app-card-body-->
						</div><!--//app-card-->
					</div><!--//tab-pane-->
					
				</div><!--//tab-content-->    
		    </div><!--//container-fluid-->
	    </div><!--//app-content-->
    </div><!--//app-wrapper-->    		
<%-include('includes/footer')%>


