<%-include('includes/header')%>
<%-include('includes/navbar')%>

<section id="center" class="center_o pt-4 pb-4 bg-light">
    <div class="container-xl">
        <div class="row center_o1 text-center">
            <div class="col-md-12">
                <h1>CHECKOUT</h1>
                <h6 class="d-inline-block  font_14 col_yell bg-white"><a class="col_light" href="#">Home</a> <span
                        class="me-2 ms-2">/</span> Checkout</h6>
            </div>
        </div>
    </div>
</section>

<section id="checkout">
    <div class="container-xl">
        <div class="checkout_1 row">
                <div class="col-md-8">
                    <div class="checkout_1l">
                        <h5>ADDRESS</h5>
                        <hr class="line">
                    </div>
                    <div class="checkout_1l1 row">
                            <% for (let i=0; i < addressData.length; i++) { %>
                                <div class="col-md-6 ps-0">
                                    <div class="    address-box">
                                        <input type="radio" class="form-check-input" name="address" id="address<%= i %>"
                                            data-address-id="<%= addressId[i] %>">
                                        <label class="form-check-label" for="address<%= i %>">Address <%= i + 1 %></label>
                                        <textarea class="custom_textarea" readonly><%= addressData[i] %></textarea>
                                        <button class="btn btn-primary" data-address-id="<%= addressId[i] %>" onclick="updateAddressRender('<%= addressId[i] %>')">Edit</button>
                                        <button class="btn btn-danger" data-address-id="<%= addressId[i] %>" onclick="deleteAddress('<%= addressId[i] %>')">Delete</button>
                                    </div>
                                </div>
                                <% } %>
                                <% if (addressData.length < 2) { %>
                                    <div class="checkout_1l1-row mt-3">
                                        <div class="text-center">
                                            <h6><a class="button_1" href="/address/add" style="cursor: pointer;">Add new address</a></h6>
                                        </div>
                                    </div>
                                    <% } %>

                    <div class="checkout_1l">
                        <h5>APPLY COUPON</h5>
                        <hr class="line">
                    </div>
                    <div class="checkout_1l1 row">
                    <div class="col-md-6 ps-0">
                        <div class="form-group">
                            <label for="coupon">Enter Coupon Code:</label>
              <input type="text" class="form-control" id="coupon-box" name="coupon"
                    placeholder="<%= couponCode ? couponCode + ' APPLIED' : '' %>" required>
                             <p id="couponMessage" class="blink_me"></p>
                        </div>
                    </div>
                    <div class="col-md-6 ps-0">
                        <h6 class="mt-3"><a class="button" id="applyCouponBtn">APPLY COUPON</a></h6>
                    </div>
                    </div>
                </div>
                </div>
            <div class="col-md-4">
                <div class="checkout_1r">
                    <h5>CART TOTALS</h5>
                    <hr class="line">
                    <h6 class="fw-bold font_13" data-total=<%= total %> >Sub Total <span class="pull-right">$<%= total %></span></h6>
                    <h6 class="fw-bold font_13">(-) Discount<span class="pull-right">$<%= discount %></span></h6>
                    <h6 class="fw-bold mt-3 font_13">(+) Shipping <span class="pull-right">$40.00</span></h6>
                <h6 class="fw-bold font_13" data-netamount="<%= netAmount %>" id="netAmount">Total <span class="pull-right">$<%= netAmount %></span>
                </h6><br>
                    <h5>PAYMENTS</h5>
                    <hr class="line">
                    <div class="form-check mt-2">
                        <input type="radio" class="form-check-input" name="payment" id="cashOnDelivery" value="cod">
                        <label class="form-check-label" for="cashOnDelivery">Cash On Delivery</label>
                    </div>
                    <div class="form-check mt-2">
                        <input type="radio" class="form-check-input" name="payment" id="paypal" value="paypal">
                        <label class="form-check-label" for="paypal">PayPal</label>
                    </div>
                    <div class="form-check mt-2">
                        <input type="radio" class="form-check-input" name="payment" id="wallet" value="wallet">
                        <label class="form-check-label" for="wallet">Wallet</label>
                    </div>
                    <div class="form-check mt-2">
                        <input type="radio" class="form-check-input" name="payment" id="razorpay" value="razorpay">
                        <label class="form-check-label" for="razorpay">Razorpay</label>
                    </div>

                    <h6 class="mt-3">
                        <a class="button" id="checkout-button">PROCEED TO CHECKOUT</a>
                    </h6>

                </div>
            </div>
        </div>
    </div>
</section>
<%-include('includes/footer')%>
