
<%-include('includes/header')%>
<%-include('includes/navbar')%>

<section id="center" class="center_o pt-4 pb-4 bg-light">
    <div class="container-xl">
        <div class="row center_o1 text-center">
            <div class="col-md-12">
                <h1>PRODUCT DETAIL</h1>
                <h6 class="d-inline-block bg-white font_14 col_yell"><a class="col_light" href="#">Home</a> <span
                        class="me-2 ms-2">/</span> Product Detail</h6>
            </div>
        </div>
    </div>
</section>

<section id="detail" class="pt-4 pb-4">
    <div class="container-xl">
        <div class="row detail_1">
        <div class="col-md-6">
            <div class="detail_1l">
                <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <% product.image.forEach((image, index)=> { %>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="<%= index %>"
                                class="<%= index === 0 ? 'active' : '' %>" aria-label="Slide <%= index + 1 %>"></button>
                            <% }); %>
                    </div>
        
                    <div class="carousel-inner">
                        <% product.image.forEach((image, index)=> { %>
                            <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                                <img src="/<%= image %>" data-magnify-src="/<%= image %>" class="d-block d-block-custom zoom" alt="abc">
                            </div>
                            <% }); %>
                    </div>
                </div>
            </div>
        </div>

            <div class="col-md-6">
                <div class="detail_1r">
                    <% if (product.stock > 0){ %>
                    <h6 class="d-inline-block bg_yell text-white font_12 ps-3 pe-3 pt-2 pb-2 rounded-1">In Stock</h6>
                    <% }else{ %>
                    <h6 class="d-inline-block bg_red text-white font_12 ps-3 pe-3 pt-2 pb-2 rounded-1" >Out of Stock</h6>
                    <% } %>
                    <h4 class="mt-2"><%=product.productName %></h4>
                    <h6 class="font_14 mt-3">
                        <span class="col_yell">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-sta-or"></i>
                        </span>
                        - 2 Customer Reviews
                    </h6>
                    <h4 class="mt-3"><span class="col_yell me-3">$<%=product.price %></span> <span
                            class="font_14  text-decoration-line-through col_light">$78.00</span></h4>
                    <p style="white-space: pre-wrap;"><%=product.description %></p>
                    <h6 class="mb-2">Stock:<%=product.stock %></h6>
                    <input type="number" min="1" max="<%= product.stock %>" value="1" class="form-control mt-2 quantity-box-custom" id="productQuantity">
                    <% if (product.stock> 0) { %>
                    <h6 class="text-uppercase mt-4"><a class="button" id="addToCartBtn" data-product-id="<%= product._id %>"
                            style="cursor: pointer;">Add to Cart</a></h6>
                        <% } else { %>
                            <h6 class="text-uppercase mt-4"><a class="button disabled" style="cursor: not-allowed; opacity: 0.5;">Add to
                                    Cart</a></h6>
                            <% } %>
                <h6 class="mt-4">
                    <a href="#" id="addToWishlistBtn" data-product-id="<%= product._id %>">
                        <i class="fa fa-heart-o col_yell me-1"></i> Add To Wishlist
                    </a>
                </h6>
                    <hr>
                </div>
            </div>
        </div>
        <div class="detail_4 row mt-4">
            <div class="col-md-12">
                <h4>Product Reviews</h4>
                <hr>
            </div>
        </div>
        <div class="detail_5 row">
            <div class="col-md-6">
                <div class="detail_5l">
                    <div class="detail_5li row mt-3">
                        <div class="col-md-10 col-sm-10">
                            <div class="detail_5lir">
                                <h6 class="font_14">Semper Diam <span class="col_light font_12 ms-2">- November 12,
                                        2022</span>
                                    <span class="col_yell font_12 float-end">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                    </span>
                                </h6>
                                <p class="mb-0">Cramond Leopard & Pythong Print Anorak Jacket In Beige but also the leap
                                    into electronic typesetting, remaining.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="detail_5r">
                    <p>Your email address will not be published. Required fields are marked *</p>
                    <h6 class="mb-2">YOUR RATING</h6>
                    <span class="col_yell fs-6">
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                    </span>
                    <h6 class="font_13 mt-4 mb-3">YOUR REVIEW *</h6>
                    <textarea class="form-control form_area"></textarea>
                    <div class="row detail_5ri mt-4">
                        <div class="col-md-6">
                            <div class="detail_5ril">
                                <h6 class="font_13 mb-3">YOUR NAME *</h6>
                                <input class="form-control" type="text">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="detail_5ril">
                                <h6 class="font_13 mb-3">YOUR EMAIL *</h6>
                                <input class="form-control" type="text">
                            </div>
                        </div>
                    </div>
                    <h6 class="mb-0 mt-4"><a class="button" href="#">SUBMIT</a></h6>
                </div>
            </div>
        </div>
    </div>
</section>
<%-include('includes/footer')%>
