<%-include('includes/header')%>
    <%-include('includes/navbar')%>

    <section id="center" class="center_o pt-4 pb-4 bg-light">
        <div class="container-xl">
            <div class="row center_o1 text-center">
                <div class="col-md-12">
                    <h1>ORDER HISTORY</h1>
                    <h6 class="d-inline-block  font_14 col_yell bg-white"><a class="col_light" href="#">Home</a> <span
                            class="me-2 ms-2">/</span>My Orders</h6>
                </div>
            </div>
        </div>
    </section>
    
    <section id="cart_page" class="cart pt-4 pb-4">
        <div class="container-xl">
            <div class="cart_2 row">
                <div class="col-md-12">
                    <h5>MY ORDERS</h5>
                </div>
            </div>
            <div class="cart_3 row mt-3">
                <div class="col-md-12">
                    <div class="cart_3l">
                        <h6>Orders</h6>
                    </div>
                    <div class="cart_3l1 mt-3 row ms-0 me-0">
    <% orders.forEach(order=> { %>
        <div class="col-md-9 col-9">
            <div class="cart_3l1i1">
                <h6 class="fw-bold"><span>Order ID: <%= order._id %></span></h6>
                <h6 class="fw-normal font_12 mt-3">STATUS: <%= order.status %>
                </h6>
                <h3 class="font_12 mt-3">ORDERED:<%= new Date(order.createdAt).toLocaleDateString() %>
                </h3>
                <h6 class="font_12 mt-3">PAYMENT: <%= order.payment_method %>
                </h6>
                <h6>Total Amount Paid:<span class="col_yell mt-3">  $<%= order.total %></span> 
                </h6>
            </div>
            <div class="cart_3l1i2">
                <h6><a class="button_1" href="#">CANCEL ORDER</a></h6>
        <h6><a class="button" data-bs-toggle="modal" data-bs-target="#orderDetailsModal-<%= order._id %>" data-order-id="<%= order._id %>">VIEW
                DETAILS</a></h6>

            </div>
            <hr class="line">
        </div>
        <% }) %>
                    </div>
                 </div>
            </div>
        </div>
    </section>

<!-- Modal -->
<% orders.forEach(order=> { %>
    <div class="modal fade" id="orderDetailsModal-<%= order._id %>" tabindex="-1" role="dialog"
        aria-labelledby="orderDetailsModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="orderDetailsModalLabel">Order Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body" id="orderDetailsModalBody">
                    <% order.items.forEach(item=> { %>
                        <div class="col-md-3 ps-0 col-3">
                            <div class="cart_3l1i">
                                <a href="/products/details/<%=item.product._id%>"><img src="<%= item.product.image.slice(-1)[0]%>"
                                        alt="abc" class="w-100"></a>
                            </div>
                        </div>
                        <div class="col-md-9 col-9">
                            <div class="cart_3l1i1">
                                <h6 class="fw-bold"><a href="/products/details/<%=item.product._id%>">
                                        <%= item.product.productName %>
                                    </a>
                                </h6>
                                <p class="fw-bold">Quantity: <%= item.quantity %>
                                </p>
                                <p class="fw-bold">Total Price: <span class="col_yell mt-3"><%= item.price * item.quantity %></span>
                                </p>
                            </div>
                        </div>
                        <% }) %>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <% }) %>


        <%-include('includes/footer')%>