<%-include('includes/header')%>
    <%-include('includes/navbar')%>

    <section id="center" class="center_o pt-4 pb-4 bg-light">
        <div class="container-xl">
            <div class="row center_o1 text-center">
                <div class="col-md-12">
                    <h1>ORDER HISTORY</h1>
                    <h6 class="d-inline-block  font_14 col_yell bg-white"><a class="col_light" href="#">Home</a> <span
                            class="me-2 ms-2">/</span>My Orders</h6>
                </div>
            </div>
        </div>
    </section>
    
    <section id="cart_page" class="cart pt-4 pb-4">
        <div class="container-xl">
            <div class="cart_2 row">
                <div class="col-md-12">
                    <h5>MY ORDERS</h5>
                </div>
            </div>
            <div class="cart_3 row mt-3">
                <div class="col-md-12">
                    <div class="cart_3l">
                        <h6>Orders</h6>
                    </div>
                      <div class="cart_3l1 mt-3 row ms-0 me-0">
                                    <% orders.forEach(order=> { %>
                                        <div class="col-md-9 col-9">
                                            <% if (order.status==='Placed' ) { %>
                                                <div class="cart_3l1i1">
                                                    <h6 class="fw-bold"><span>Order ID : <%= order._id %></span></h6>
                                                    <h6 class="fw-normal font_12 mt-3">
                                                        <strong>STATUS:</strong>
                                                        <span class="badge bg-success">
                                                            <%= order.status %>
                                                        </span>
                                                    </h6>
                                                    <h3 class="font_12 mt-3">ORDERED : <%= new Date(order.createdAt).toLocaleDateString() %>
                                                    </h3>
                                                    <h6 class="font_12 mt-3">PAYMENT : <%= order.payment_method %>
                                                    </h6>
                                                    <% if (order.payment_method==='cod' ) { %>
                                                        <h6>To Pay : <span class="col_yell mt-3">Rs <%= order.total %></span></h6>
                                                        <% } else { %>
                                                            <h6>Total Amount Paid : <span class="col_yell mt-3">Rs <%= order.total %></span></h6>
                                                            <% } %>
                                                </div>
                                                <div class="cart_3l1i2">
                                                    <h6><a class="button_1" onclick="cancelOrder('<%= order._id %>')">CANCEL ORDER</a></h6>
                                                    <h6><a class="button" data-bs-toggle="modal" data-bs-target="#orderDetailsModal-<%= order._id %>"
                                                            data-order-id="<%= order._id %>">VIEW DETAILS</a></h6>
                                                </div>
                                               
                                                <% } else if (order.status==='Processing' ) { %>
                                                    <div class="cart_3l1i1">
                                                        <h6 class="fw-bold"><span>Order ID : <%= order._id %></span></h6>
                                                        <h6 class="fw-normal font_12 mt-3">
                                                            <strong>STATUS : </strong>
                                                            <span class="badge bg-warning text-dark">
                                                                <%= order.status %>
                                                            </span>
                                                        </h6>
                                                        <h3 class="font_12 mt-3">Processed : <%= new Date(order.createdAt).toLocaleDateString() %>
                                                        </h3>
                                                        <h6 class="font_12 mt-3">PAYMENT : <%= order.payment_method %>
                                                        </h6>
                                                        <% if (order.payment_method==='cod' ) { %>
                                                            <h6>To Pay : <span class="col_yell mt-3">Rs <%= order.total %></span></h6>
                                                            <% } else { %>
                                                                <h6>Total Amount Paid : <span class="col_yell mt-3">Rs<%= order.total %></span></h6>
                                                                <% } %>
                                                    </div>
                                                    <div class="cart_3l1i2">
                                                        <h6><a class="button_1" onclick="cancelOrder('<%= order._id %>')">CANCEL ORDER</a></h6>
                                                        <h6><a class="button" data-bs-toggle="modal" data-bs-target="#orderDetailsModal-<%= order._id %>"
                                                                data-order-id="<%= order._id %>">VIEW DETAILS</a></h6>
                                                    </div>
                                                    <hr>
                                                    <% } else if (order.status==='Shipped' ) { %>
                                                        <div class="cart_3l1i1">
                                                            <h6 class="fw-bold"><span>Order ID: <%= order._id %></span></h6>
                                                            <h6 class="fw-normal font_12 mt-3">
                                                                <strong>STATUS:</strong>
                                                                <span class="badge bg-grey">
                                                                    <%= order.status %>
                                                                </span>
                                                            </h6>
                                                            <h3 class="font_12 mt-3">SHIPPED : <%= new Date(order.createdAt).toLocaleDateString() %>
                                                            </h3>
                                                            <h6 class="font_12 mt-3">PAYMENT : <%= order.payment_method %>
                                                            </h6>
                                                            <% if (order.payment_method==='cod' ) { %>
                                                                <h6>To Pay: <span class="col_yell mt-3">Rs <%= order.total %>
                                                                    </span>
                                                                </h6>
                                                                <% } else { %>
                                                                    <h6>Total Amount Paid : <span class="col_yell mt-3">Rs <%= order.total %>
                                                                        </span>
                                                                    </h6>
                                                                    <% } %>
                                                        </div>
                                                        <div class="cart_3l1i2">
                                                            <h6><a class="button_1" onclick="cancelOrder('<%= order._id %>')">CANCEL ORDER</a></h6>
                                                            <h6><a class="button" data-bs-toggle="modal"
                                                                    data-bs-target="#orderDetailsModal-<%= order._id %>"
                                                                    data-order-id="<%= order._id %>">VIEW DETAILS</a></h6>
                                                        </div>
                                                        <hr>
                                    <% } else if (order.status==='Delivered' ) { %>
                                        <h6 class="fw-bold"><span>Order ID : <%= order._id %></span></h6>
                                        <h6 class="fw-normal font_12 mt-3">
                                            <strong>STATUS:</strong>
                                            <span class="badge bg-success">
                                                <%= order.status %>
                                            </span>
                                        </h6>
                                        <h3 class="font_12 mt-3">DELIVERED : <%= new Date(order.createdAt).toLocaleDateString() %>
                                        </h3>
                                        <h6 class="font_12 mt-3">PAYMENT : <%= order.payment_method %>
                                        </h6>
                                        <h6>Total Amount Paid : <span class="col_yell mt-3">Rs <%= order.total %></span></h6>
                                        <div class="cart_3l1i2">
                                            <% if (new Date() - new Date(order.deliveredAt) <=3 * 24 * 60 * 60 * 1000) { %>
                                                <h6><a class="button_1" onclick="returnOrder('<%= order._id %>')">RETURN ORDER</a></h6>
                                                <% } %>
                                            <h6><a class="button" data-bs-toggle="modal" data-bs-target="#orderDetailsModal-<%= order._id %>"
                                                    data-order-id="<%= order._id %>">VIEW DETAILS</a></h6>
                                        </div>
                                        <hr>
                                    <% } else if (order.status==='Cancelled' ) { %>
                                        <h6 class="fw-bold"><span>Order ID: <%= order._id %></span></h6>
                                        <h6 class="fw-normal font_12 mt-3">
                                            <strong>STATUS:</strong>
                                            <span class="badge bg-danger">
                                                <%= order.status %>
                                            </span>
                                        </h6>
                                        <h6 class="font_12 mt-3">PAYMENT : <%= order.payment_method %>
                                        </h6>
                                    <% if (order.payment_method==='cod' ) {%>
                                        <h6>[ Order cancelled ]</h6>
                                        <% } else { %>
                                    <b><span style="font-size: 14px;"><span class="col_yell mt-3">Rs <%= order.total %></span> will be credited to your wallet within 10 days</span></b>
                                            <% } %>
                                            
                                        <div class="cart_3l1i2">
                                            <h6><a class="button" data-bs-toggle="modal" data-bs-target="#orderDetailsModal-<%= order._id %>"
                                                    data-order-id="<%= order._id %>">VIEW DETAILS</a></h6>
                                        </div>
                                    <hr>
                                    <% } else if (order.status==='Returned' ) { %>
                                        <h6 class="fw-bold"><span>Order ID: <%= order._id %></span></h6>
                                        <h6 class="fw-normal font_12 mt-3">
                                            <strong>STATUS:</strong>
                                            <span class="badge bg-danger">
                                                <%= order.status %>
                                            </span>
                                        </h6>
                                        <h6 class="font_12 mt-3">PAYMENT : <%= order.payment_method %>
                                        </h6>
                                        <h6>[ Order Returned ]</h6>
                                       <b><span style="font-size: 14px;"><span class="col_yell mt-3">Rs <%= order.total %></span> will be credited to your wallet within 10 days</span></b>
                                        <div class="cart_3l1i2">
                                        <h6><a class="button" data-bs-toggle="modal" data-bs-target="#orderDetailsModal-<%= order._id %>"
                                                    data-order-id="<%= order._id %>">VIEW DETAILS</a></h6>
                                        </div>
                                        <hr>    
                                    <% } else if (order.status==='Refunded' ) { %>
                                        <h6 class="fw-bold"><span>Order ID: <%= order._id %></span></h6>
                                        <h6 class="fw-normal font_12 mt-3">
                                            <strong>STATUS:</strong>
                                            <span class="badge bg-success">
                                                <%= order.status %>
                                            </span>
                                        </h6>
                                        <h6 class="font_12 mt-3">PAYMENT : <%= order.payment_method %>
                                        </h6>
                                        <h6>[ <span class="col_yell mt-3">Rs <%= order.total %></span> Order Refunded to your wallet ]</h6>
                                        <div class="cart_3l1i2">
                                        <h6><a class="button" data-bs-toggle="modal" data-bs-target="#orderDetailsModal-<%= order._id %>"
                                                    data-order-id="<%= order._id %>">VIEW DETAILS</a></h6>
                                        </div>
                                        <hr>
                                        <% } %>
                             </div>
                         <% }) %>
                    </div>
                 </div>
            </div>
        </div>
    </section>

<!-- Modal -->
<% orders.forEach(order=> { %>
    <div class="modal fade" id="orderDetailsModal-<%= order._id %>" tabindex="-1" role="dialog"
        aria-labelledby="orderDetailsModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="orderDetailsModalLabel">Order Details</h5>
                </div>
                <div class="modal-body" id="orderDetailsModalBody">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Product Name</th>
                                <th>Image</th>
                                <th>Quantity</th>
                                <th>Total Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% order.items.forEach(item=> { %>
                                <tr>
                                    <td>
                                        <%= item.product.productName %>
                                    </td>
                                    <td><img src="<%= item.product.image.slice(-1)[0] %>"
                                            alt="<%= item.product.productName %>" width="50"></td>
                                    <td>
                                        <%= item.quantity %>
                                    </td>
                                    <td>
                                        <%= item.price * item.quantity %>
                                    </td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>

                    <h5>Deliver to:</h5>
                    <div style="background-color: lightgrey; padding: 10px;">
                        <address>
                            <%= order.address.firstName %>
                                <%= order.address.lastName %><br />
                                    <%= order.address.addressLine %><br />
                                        <%= order.address.locality %>, <%= order.address.city %>
                                                <%= order.address.postalCode %><br />
                                                    <%= order.address.state %><br />
                                                        <%= order.address.landmark %><br />
                                                            Phone: <%= order.address.phoneNumber %><br />
                                                                Email: <%= order.address.emailAddress %><br />
                        </address>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <% }) %>


        <%-include('includes/footer')%>