<%-include('includes/header')%>
    <%-include('includes/navbar')%>


        <section id="center" class="center_o pt-4 pb-4 bg-light">
            <div class="container-xl">
                <div class="row center_o1 text-center">
                    <div class="col-md-12">
                        <h1>PRODUCTS</h1>
                        <h6 class="d-inline-block  font_14 col_yell bg-white"><a class="col_light"
                                href="#">Home</a><span class="me-2 ms-2">/</span>PRODUCTS</h6>
                    </div>
                </div>
            </div>
        </section>
        <section id="prod_pg" class="pt-4 pb-4 bg_light_1">
            <div class="container-fluid">
                <div class="row prod_pg1">
                    <div class="col-md-12 col-lg-3">
                        <div class="prod_pg1l">
                            <div class="prod_pg1l1 bg-white p-4">
                                <% category.forEach(Category=>{ %>
                                    <div class="prod_pg1l1i row">
                                        <div class="col-md-10 col-10">
                                            <div class="prod_pg1l1il">
                                                <h6 class="font_14 fw-normal mt-1">
                                                    <label>
                                                        <input type="radio" name="category" value="<%= Category._id %>"
                                                            onclick="location.href='/products?category_id=<%= Category._id %>'"
                                                            <%=Category._id.toString()===selectedCategory.toString()
                                                            ? 'checked' : '' %> >
                                                        <%= Category.category %>
                                                    </label>
                                                </h6>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-2">
                                            <div class="prod_pg1l1ir text-end">
                                                <h6 class="d-inline-block bg_light font_13">
                                                    <%= (categoryCounts.find(c=> c.categoryId.toString() ===
                                                        Category._id.toString()) || {}).count || 0 %>
                                                </h6>
                                            </div>
                                        </div>
                                    </div>
                                    <% }) %>
                                        <% if (brand.length> 0) { %>
                                            <div class="prod_pg1l1 bg-white p-4 mt-4"></div>
                                            <div class="prod_pg1l1 bg-white p-4 mt-4">
                                                <h6 class="mb-3">PRODUCT BRANDS</h6>
                                                <% brand.forEach(Brand=>{ %>
                                                    <div class="prod_pg1l1il">
                                                        <div class="row">
                                                            <h6 class="font_14 fw-normal col-lg-12 col-md-6 col-sm-6">
                                                                <label>
                                                                    <input type="radio" name="brands"
                                                                        value="<%= Brand._id %>"
                                                                        onclick="location.href='/products?category_id=<%= selectedCategory %>&brand_id=<%= Brand._id %>'"
                                                                        <%=Brand._id.toString()===selectedBrand.toString()
                                                                        ? 'checked' : '' %> >
                                                                    <%= Brand.brandName %>
                                                                </label>
                                                            </h6>
                                                        </div>
                                                        <hr>
                                                    </div>
                                                    <% }) %>
                                                 <hr>
                                            </div>
                                    <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-9">
                        <div class="prod_pg1r">
                            <div class="prod_pg1r1 row">
                                <div class="col-md-9">
                                    <div class="prod_pg1r1l">
                                        <p class="mt-3 mb-0">Showing Products <%= (page - 1) * limit + 1 %>-<%=
                                                    Math.min(page * limit, productCount) %> Of <%=productCount %> Result
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="prod_pg1r1r">
                                    <select name="categories" style="height:50px;" class="form-select" required="" onchange="sortProducts(this.value)">
                                        <option <%=sortOption==='Relevance' ? 'selected' : '' %>>Relevance</option>
                                        <option <%=sortOption==='Name, A to Z' ? 'selected' : '' %>>Name, A to Z</option>
                                        <option <%=sortOption==='Name, Z to A' ? 'selected' : '' %>>Name, Z to A</option>
                                        <option <%=sortOption==='Price, high to low' ? 'selected' : '' %>>Price, high to low</option>
                                        <option <%=sortOption==='Price, low to high' ? 'selected' : '' %>>Price, low to high</option>
                                    </select>

                                    </div>
                                </div>
                            </div>
                            <div class="prod_pg1r2 mt-4 row">
                                <% product.forEach((product)=> { %>
                                    <% if(!product.listed){ %>
                                       <% if(product.stock>0){ %> 
                                        <div class="col-md-4">
                                            <div class="prodinm clearfix">
                                                <div class="prod_2im position-relative clearfix">
                                                    <div class="prod_2i1 clearfix">
                                                        <div class="grid clearfix">
                                                            <figure class="effect-jazz mb-0"
                                                                style="background-color: rgb(255, 255, 255);">
                                                                <a href="/products/details/<%= product._id %>"><img
                                                                        src="/<%= product.image[product.image.length-1] %>"
                                                                        class="w-50" alt="abc"></a>
                                                            </figure>
                                                        </div>
                                                    </div>
                                                    <div class="prod_2i3 clearfix position-absolute w-100">
                                                        <h6
                                                            class="bg_yell d-inline-block pt-1 pb-1 font_13 text-white ps-3 pe-3">
                                                            NEW
                                                        </h6>
                                                        <h6
                                                            class="bg_yell d-inline-block pt-1 pb-1 font_13 text-white ps-3 pe-3 pull-right">
                                                            40%</h6>
                                                    </div>
                                                    <div
                                                        class="prod_2in clearfix position-absolute bg-light w-100 p-3 text-center">
                                                        <ul class="mb-0">
                                                            <li class="d-inline-block me-3"><a class="share-link"
                                                                    data-url="http://localhost:8000/products/details/<%= product._id %>"
                                                                    style="cursor: pointer;"><i
                                                                        class="fa fa-share-alt"></i></a></li>
                                                            <% if(locals.user) { %>
                                                                <li class="d-inline-block me-3"><a href="#" class="add-to-wishlist-btn" data-product-id="<%= product._id %>"><i class="fa fa-heart"></i></a></li>
                                                                <% }else{ %>
                                                                    <li class="d-inline-block me-3"><a href="/login"><i class="fa fa-heart"></i></a></li>
                                                                 <% } %>
                                                            <li class="d-inline-block"><a
                                                                    href="/products/details/<%= product._id %>"><i
                                                                        class="fa fa-eye"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="prod_2i2 pt-4 pb-4 ps-3 pe-3 bg-white clearfix">
                                                    <span class="col_yell">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-half-o"></i>
                                                    </span>
                                                    <h6 class="mt-3">
                                                        <%= product.brand.brandName %>
                                                    </h6>
                                                    <h6 class="mt-2"><a href="/products/details/<%= product._id %>">
                                                            <%= product.productName %>
                                                        </a></h6>
                                                    <h6 class="font_13"><a class="col_light" href="detail.html">New
                                                            Product</a></h6>
                                                    <hr>
                                                    <h6 class="fw-normal mb-0"><span
                                                            class="text-decoration-line-through col_light">Rs 79.00</span>
                                                        <span class="pull-right fw-bold col_yell">
                                                            <%= product.price %>
                                                        </span>
                                                    </h6>
                                                </div>
                                            </div>
                                        </div>
                                         <% }else{ %>
                                            <div class="col-md-4">
                                                <div class="prodinm clearfix">
                                                    <div class="prod_2im position-relative clearfix">
                                                        <div class="prod_2i1 clearfix">
                                                            <div class="grid clearfix">
                                                                <figure class="effect-jazz mb-0" style="background-color: rgb(255, 255, 255);">
                                                                    <a href="/products/details/<%= product._id %>"><img
                                                                            src="/<%= product.image[product.image.length-1] %>" class="w-50" alt="abc"></a>
                                                                </figure>
                                                            </div>
                                                        </div>
                                                        <div class="prod_2i3 clearfix position-absolute w-100">
                                                            <h6 class="bg_red d-inline-block pt-1 pb-1 font_13 text-white ps-3 pe-3">
                                                                Out of Stock
                                                            </h6>
                                                        </div>
                                                        <div class="prod_2in clearfix position-absolute bg-light w-100 p-3 text-center">
                                                            <ul class="mb-0">
                                                                <li class="d-inline-block me-3"><a class="share-link"
                                                                        data-url="http://localhost:8000/products/details/<%= product._id %>"
                                                                        style="cursor: pointer;"><i class="fa fa-share-alt"></i></a></li>
                                                                <% if(locals.user) { %>
                                                                <li class="d-inline-block me-3"><a href="#" class="add-to-wishlist-btn" data-product-id="<%= product._id %>"><i class="fa fa-heart"></i></a></li>
                                                                <% }else{ %>
                                                                    <li class="d-inline-block me-3"><a href="/login"><i class="fa fa-heart"></i></a></li>
                                                                 <% } %>
                                                                <li class="d-inline-block"><a href="/products/details/<%= product._id %>"><i
                                                                            class="fa fa-eye"></i></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="prod_2i2 pt-4 pb-4 ps-3 pe-3 bg-white clearfix">
                                                        <span class="col_yell">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-half-o"></i>
                                                        </span>
                                                        <h6 class="mt-3">
                                                            <%= product.brand.brandName %>
                                                        </h6>
                                                        <h6 class="mt-2"><a href="/products/details/<%= product._id %>">
                                                                <%= product.productName %>
                                                            </a></h6>
                                                        <h6 class="font_13"><a class="col_light" href="detail.html">New
                                                                Product</a></h6>
                                                        <hr>
                                                        <h6 class="fw-normal mb-0"><span class="text-decoration-line-through col_light">Rs 79.00</span>
                                                            <span class="pull-right fw-bold col_yell">
                                                                <%= product.price %>
                                                            </span>
                                                        </h6>
                                                    </div>
                                                </div>
                                            </div>
                                           <% } %>
                                        <% } %>
                                 <% }); %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
<section>
    <div class="pages mt-4 row text-center bg_light ms-0 me-0 pt-4 pb-4">
        <div class="col-md-12">
            <ul class="mb-0">
                <% if (currentPage> 1) { %>
                    <li>
                        <a href="#" onclick="event.preventDefault(); goToPage('<%= currentPage - 1 %>')">
                            <i class="fa fa-chevron-left"></i>
                        </a>
                    </li>
                    <% } %>
                        <% for (let i=1; i <=totalPages; i++) { %>
                            <li class="<%= i === currentPage ? 'act' : '' %>">
                                <a href="#" onclick="event.preventDefault(); goToPage('<%= i %>')">
                                    <%= i %>
                                </a>
                            </li>
                            <% } %>
                                <% if (currentPage < totalPages) { %>
                                    <li>
                                        <a href="#" onclick="event.preventDefault(); goToPage('<%= currentPage + 1 %>')">
                                            <i class="fa fa-chevron-right"></i>
                                        </a>
                                    </li>
                           <% } %>
            </ul>
        </div>
    </div>
</section>


<%-include('includes/footer')%>